<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- ### JS ### -->
    <!-- CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js" integrity="sha256-xNjb53/rY+WmG+4L6tTl9m6PpqknWZvRt0rO1SRnJzw=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js" defer></script>
    <!-- Lib -->
    <script type="text/javascript" src="{{url_for('.static', filename='lib/js.cookie.min.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='lib/medium.min.js')}}" defer></script>
    <!-- Local -->
    <script type="text/javascript" src="{{url_for('.static', filename='js/models/Agent.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/models/NoteManager.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/models/Note.js')}}" defer></script>
    <script type="text/javascript" src="{{url_for('.static', filename='js/board.js')}}" defer></script>

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto+Condensed"/>
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/board.css')}}"/>

    <!-- Page stuff-->
    <link rel="icon" href="{{url_for('.static', filename='img/favicon.png')}}"/>
    <title>Scrumtious Scrumboard</title>
    <meta name="description" content="A simple online scrumboard great for small, agile scrum teams."/>
    <meta name="keywords" content="scrumtious, scrumptious, scrumboard, scrum, agile, board, note"/>
    <meta name="author" content="Andrew D. Booth"/>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
            <a class="left" href="/"><img src="{{url_for('.static', filename='img/JennaSue-logo_white-40.png')}}" alt="Scrumtious"/></a>
            <ul class="right">
                <li id="link_button"><a class="tooltipped" data-position="bottom" data-delay="50" data-tooltip="Copy link"><i class="material-icons">link</i></a></li>
                <li><a class="tooltipped" onclick="sendEmails()" data-position="bottom" data-delay="50" data-tooltip="Email board"><i class="material-icons">send</i></a></li>
            </ul>
        </div>
    </nav>
    <table>
        <tr>
            <th>To Do</th>
            <th>In Progress</th>
            <th>Done</th>
        </tr>
    </table>
    <div id="add_button" class="fixed-action-btn">
        <a class="btn-floating btn-large teal accent-4 tooltipped" data-position="right" data-delay="50" data-tooltip="Add note" onclick="agent.newNote()">
            <i class="large material-icons">create</i>
        </a>
    </div>
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69670910-3', 'auto');
    ga('send', 'pageview');
</script>
</html>
