<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <!-- ### JS ### -->
    <!-- CDN -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous" defer></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js" defer></script>
    <!-- Lib -->
    <script type="text/javascript" src="{{url_for('.static', filename='lib/js.cookie.js')}}" defer></script>
    <!-- Local -->
    <script type="text/javascript" src="{{url_for('.static', filename='js/start.js')}}" defer></script>

    <!-- ### CSS ### -->
    <!-- CDN -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons"/>
    <!-- Local -->
    <link rel="stylesheet" type="text/css" href="{{url_for('.static', filename='css/start.css')}}"/>

    <!-- Page stuff -->
    <link rel="icon" href="{{url_for('.static', filename='img/favicon.png')}}"/>
    <title>Scrumtious Start</title>
</head>
<body>
    <a href="https://github.com/adbooth/scrumtious/" target="_blank"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/a6677b08c955af8400f44c6298f40e7d19cc5b2d/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677261795f3664366436642e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png"></a>
    <!-- Form -->
    <div class="container">
        <img src="{{url_for('.static', filename='img/JennaSue-logo_white-100.png')}}" alt="Scrumtious" />
        <form method="post">
            <div class="input-field">
                <input type="text" id="boardName" name="boardName" required>
                <label for="boardName">Choose a name for your board</label>
            </div>
            <!-- <div class="input-field">
                <input type="email" id="email" class="validate" required>
                <label for="email">Provide an email address</label>
            </div> -->
            <div>
                <button type="submit" class="btn white">Submit</button>
            </div>
        </form>
    </div>
    <!-- Cookies -->
    <div class="container">
        <div class="section">
            <h5>Board History</h5>
            <div id="previous_boards"></div>
        </div>
    </div>
</body>
<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-69670910-3', 'auto');
    ga('send', 'pageview');
</script>
</html>
