<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta-->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <!-- CSS-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/start.css">

    <!-- Page stuff-->
    <link rel="shorcut icon" href="http://www.clipartbest.com/cliparts/yTk/BKa/yTkBKaATE.png">
    <title>Scrumtious Start</title>
</head>
<body>
    <div class="container">
        <h2>Scrumtious Start</h2>
        <form method="post">
            <div class="form-group">
                <label for="boardName">Choose a name for your board</label>
                <input id="boardName" type="text" name="boardName" class="form-control">
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Submit</button>
            </div>
        </form>
    </div>
</body>
<script>
    document.getElementById('boardName').focus();
</script>
</html>
