doctype html
head
    meta(charset='utf-8')
    
    //- JS
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js')
    script(src='/socket.io/socket.io.js' defer)
    script(src='/js/app.js' defer)
    //- script(src='/js/socket.js' defer)
    
    //- Page Stuff
    link(rel='shortcut icon', href='http://www.clipartbest.com/cliparts/yTk/BKa/yTkBKaATE.png')
    title Scrumtious Scrumboard

body
    div(ng-app='scrumtious')
        div(ng-controller='BoardCtrl')
        table(style='width:100%;')
            tr
                td(ng-repeat='column in columns', align='center')
                    div {{column}}
        //- div(ng-controller='StickyButtonCtrl')
            //- button(ng-click='addSticky()', ng-mouseover='mouseover()') Add Sticky
