<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!-- CSS -->
    <style>
        canvas {
            outline: 0px;
            position: absolute;
            left: 0px;
            top: 0px;
            width: 100%;
            height: 100%;
        }
    </style>

    <!-- JS -->
    <script src="./processing.min.js" defer></script>
    <!-- <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script> -->

    <!-- Browser stuff -->
    <link rel="shortcut icon" href="">
    <title>Scrumboard</title>
</head>
<body>
    <canvas data-processing-sources="./scrumboard.pde"></canvas>
</body>
</html>
