doctype html
html(lang='en')
    head
        // Meta
        meta(charset='utf-8')
        //- meta(http-equiv='X-UA-Compatible', content='IE=edge')
        //- meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no')
        
        // Stylesheets
        link(rel='stylesheet', href='/css/scrumblr.css')
        
        // Scripts
        script(src='https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.16/processing.min.js', defer)
        //- script(src='https://code.jquery.com/jquery-2.2.1.min.js', defer)
        
        // Page stuff        
        link(rel='shorcut icon', href='')
        title Scrumblr
    
    body
        canvas(data-processing-sources='/pde/scrumblr.pde')
