doctype html
html(lang='en')
    head
        // Meta
        meta(charset='utf-8')
        
        // Stylesheets
        link(rel='stylesheet', href='/css/scrumblr.css')
        
        // Scripts
        script(src='/eureca.js', defer)
        script(src='https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.16/processing.min.js', defer)
        //- script(src='https://code.jquery.com/jquery-2.2.1.min.js', defer)
        
        // Page stuff        
        link(rel='shorcut icon', href='')
        title Scrumblr
    
    body
        canvas(data-processing-sources='/scrumblr/scrumblr.pde /scrumblr/models.pde')
