doctype html
html(lang='en')
    head
        // Meta
        meta(charset='utf-8')
        
        // Stylesheets
        link(rel='stylesheet', href='/css/scrumtious.css')
        
        // Scripts
        script(src='/eureca.js', defer)
        script(src='https://cdnjs.cloudflare.com/ajax/libs/processing.js/1.4.16/processing.min.js', defer)
        //- script(src='https://code.jquery.com/jquery-2.2.1.min.js', defer)
        script(src='/js/keytrap.js', defer)
        script(src='/js/client.js', defer)
        
        // Page stuff        
        link(rel='shorcut icon', href='http://www.clipartbest.com/cliparts/yTk/BKa/yTkBKaATE.png')
        title Scrumtious
    
    body
        canvas(id='stage', data-processing-sources='/scrumtious/scrumtious.pde /scrumtious/models.pde')
