html {
    background-color: MediumAquaMarine;
    position: relative;
    min-height: 100%;
}

body {
    color: white;
    background-color: MediumAquaMarine;
    padding-top: 200px;
    margin-bottom: 50px;
}

.container {
    max-width: 500px;
}

.btn {
    color: MediumAquaMarine;
}

sticky {
    position: relative;
    display: block;
    width: 150px;
    height: 150px;
    cursor: pointer;
}
