html {
    position: relative;
    min-height: 100%;
}

body {
    color: white;
    background-color: MediumAquaMarine;
    padding-top: 200px;
    margin-bottom: 50px;
}

.container {
    max-width: 500px;
    padding-bottom: 30px;
}

.input-field label {
    color: white;
}
.input-field input[type=text]:focus + label {
     color: white;
}
.input-field input[type=text]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}
.input-field input[type=email]:focus + label {
     color: white;
}
.input-field input[type=email]:focus {
     border-bottom: 1px solid white;
     box-shadow: 0 1px 0 0 white;
}
.btn {
    color: MediumAquaMarine;
}

.chip {
    margin-right: 3px;
    margin-bottom: 5px;
}
